*.pyc
/.vscode
/.vs
*.jpg
/presets/.*
.*.py
*.blend1
lib/Sources.blend1
output.txt
render/Salateatro1.blend
render/Salateatro1/Substance3DInBlenderData/WoodSubstance003/Base Color.tga
render/Salateatro1/Substance3DInBlenderData/WoodSubstance003/Displacement.tga
render/Salateatro1/Substance3DInBlenderData/WoodSubstance003/Normal.tga
render/Salateatro1/Substance3DInBlenderData/WoodSubstance003/Roughness.tga
render/sbsar/WoodSubstance003_basecolor.png
render/sbsar/WoodSubstance003_height.png
render/sbsar/WoodSubstance003_normal.png
render/sbsar/WoodSubstance003_roughness.png
render/Sphere.blend
*.psd
